* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: skyblue;
    color: black;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: rgb(255, 255, 255, 0.45);
    border-radius: 24px;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.08) inset 0 0 40px rgb(255, 255, 255, 0.4);
    flex: 1;
}
section.motor {
    font-family: 'Times New Roman', Times, serif;
}

footer {
    text-align: left;
    padding: 8px;
}