* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #111;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
}
header {
    padding: 20px;
    text-align: left;
    background-color: #1a1a1a;

}
main {
    padding: 30px;
}
section {
    margin-top: 30px;
}
ul {
    margin-top: 10px;
    padding-left: 20px;
}